# Entornos virtuales
venv/
.env/
.envrc

# Archivos de respaldo y exportación de datos
*.json
*.backup
*.dump

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de configuración locales
*.log
*.pot
*.pyc

# Archivos de usuario o IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid
*.tar
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos generados por Django
/static/
media/

# Otros archivos temporales
*.bak
*.tmp