# Entornos virtuales
venv/
.env/
.envrc

# Archivos de base de datos (SQLite)
db.sqlite3
*.sqlite3

# Archivos de respaldo y exportación de datos
*.json
*.backup
*.dump

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Migraciones si querés ignorarlas automáticamente (opcional)
# base/migrations/__pycache__/

# Archivos de configuración locales
*.log
*.pot
*.pyc

# Archivos de usuario o IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid
*.tar
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos generados por Django
/static/
media/

# Node (si usás frontend)
node_modules/

# Otros archivos temporales
*.bak
*.tmp